<input id="fileUploder" type="file" (change)="onFileChange($event)" multiple="false" />

<hr/>
<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">

  <ng-container *ngIf="data" >
  <div *ngFor="let row of data[0]; index as ind " class="my-2">
    <div class="row">
        <div class="col-md-2">    item {{row}}:</div>
        <div class="col">           
    <select [id]="'select' + ind" [name]="'select' + ind" ngModel class="form-control select2 select2-hidden-accessible " style="width: 400px" tabindex="-1" aria-hidden="true">
        <option [ngValue]="field.value" *ngFor="let field of fields;let i = index" [attr.selected]="field.index == ind ? true : null">
          {{field.key}} <span *ngIf="field.required">*</span>
        </option>
      </select>
        </div>
    </div>

  </div>

    <div>
      <button type="submit">اعتبار سنجی و نگاشت</button>
    </div>
</ng-container>
  </form>
<hr/>
  <!-- --------------------------------------------------------------------------  -->
<table class="table">
    <tbody>
        <tr *ngFor="let row of data; index as i">
            <ng-container *ngIf="i==0" >
                <th  *ngFor="let cell of row">
                    {{cell}}
            </th>
            </ng-container>
            <ng-container *ngIf="i>0" >
                <td  *ngFor="let cell of row">
                    {{cell}}
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>


